<div class="bg-white border flex md:block border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-controller="favorite-product" data-favorite-product-product-id-value="<%= product.id %>" data-favorite-product-delete-path-value="<%= product_favorite_path(product, product.user_favorite(user)) if product.favorited_by?(user) %>" data-favorite-product-target="card">
  <div class="md:rounded-t-lg rounded-l-lg flex-shrink-0 md:rounded-bl-none bg-cover h-48 w-48  md:w-auto relative" style="background-image: url(<%= product.image_url %>);">

    <% unless product.favorited_by?(user) %>
      <%= simple_form_for [product, Favorite.new()], html: { data: { favorite_product_target: "form" } } do |f| %>
        <input data-action="change->favorite-product#favoriteProduct" id="default-checkbox" type="checkbox" class="w-10 h-10 absolute top-3 right-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <% end %>
    <% else %>
      <div>
        <input data-action="change->favorite-product#unfavoriteProduct" type="checkbox" id="default-checkbox" checked class="w-10 h-10 absolute top-3 right-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      </div>
    <% end %>

  </div>
  <div class="p-5 flex-grow">
    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= product.name %></h5>
  </div>
</div>
